<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" style="margin-left: 1%;" routerLink="principal">Prueba de Software:</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="registrarclientes" title="Registrar nuevo.">Registrar clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="listarclientes" title="Activos e inactivos.">Listar clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="totalclientes" title="Número total.">Total de clientes</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
